### 1. import library

In [6]:
import pandas as pd
import numpy as np

### 2   read csv file

In [9]:
retail = pd.read_csv("OnlineRetail.csv",encoding = 'ISO-8859-1')

In [11]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [13]:
### 3 print info 
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [15]:
### 4 describe function
retail.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [17]:
### 5 print column 
print(retail.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [29]:
### 6 top record 
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [34]:
### 7 last record 
retail.tail(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [36]:
### 8 access specific coloumns
retail[["Description","Quantity"]]

                                Description  Quantity
0        WHITE HANGING HEART T-LIGHT HOLDER         6
1                       WHITE METAL LANTERN         6
2            CREAM CUPID HEARTS COAT HANGER         8
3       KNITTED UNION FLAG HOT WATER BOTTLE         6
4            RED WOOLLY HOTTIE WHITE HEART.         6
...                                     ...       ...
541904          PACK OF 20 SPACEBOY NAPKINS        12
541905         CHILDREN'S APRON DOLLY GIRL          6
541906        CHILDRENS CUTLERY DOLLY GIRL          4
541907      CHILDRENS CUTLERY CIRCUS PARADE         4
541908        BAKING SET 9 PIECE RETROSPOT          3

[541909 rows x 2 columns]

In [38]:
### 9 print types 
retail.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [40]:
### 10 access row by int location
retail.iloc[1]

InvoiceNo                   536365
StockCode                    71053
Description    WHITE METAL LANTERN
Quantity                         6
InvoiceDate         12/1/2010 8:26
UnitPrice                     3.39
CustomerID                 17850.0
Country             United Kingdom
Name: 1, dtype: object

In [44]:
### 11 delete specific colunmn 
retail.drop("InvoiceDate",axis=1,inplace=True)

KeyError: "['InvoiceDate'] not found in axis"

In [48]:
#12 --specific condition
retail[(retail['Quantity']==4) & (retail['UnitPrice']<2.5)]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
134,536381,22646,CERAMIC STRAWBERRY CAKE MONEY BANK,4,1.45,15311.0,United Kingdom
327,536401,22961,JAM MAKING SET PRINTED,4,1.45,15862.0,United Kingdom
544,536412,22662,LUNCH BAG DOLLY GIRL DESIGN,4,1.65,17920.0,United Kingdom
635,536415,22147,FELTCRAFT BUTTERFLY HEARTS,4,1.45,12838.0,United Kingdom
640,536415,22149,FELTCRAFT 6 FLOWER FRIENDS,4,2.10,12838.0,United Kingdom
...,...,...,...,...,...,...,...
541610,581514,22500,SET OF 2 TINS JARDIN DE PROVENCE,4,1.25,17754.0,United Kingdom
541665,581538,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,4,1.45,14446.0,United Kingdom
541678,581538,22197,POPCORN HOLDER,4,0.85,14446.0,United Kingdom
541735,581571,23197,SKETCHBOOK MAGNETIC SHOPPING LIST,4,1.45,15311.0,United Kingdom
541836,581580,23334,IVORY WICKER HEART SMALL,4,0.63,12748.0,United Kingdom

In [50]:
#13 --- sum
retail["UnitPrice"].sum()

2498803.974

In [52]:
### 14 --------- mean 
retail["UnitPrice"].mean()

4.611113626088513

In [54]:
###15 --- count
retail["UnitPrice"].count()

541909

In [56]:
###16 -- Max
retail["UnitPrice"].max()

38970.0

In [58]:
### 17 --min 
retail["UnitPrice"].min()

-11062.06

In [60]:
### 18 -- least accurance 
counts = retail['UnitPrice'].value_counts()

least_common = counts[counts == counts.min()]
least_common

UnitPrice
4505.17    1
5.14       1
793.32     1
1154.67    1
323.05     1
          ..
84.21      1
46.86      1
28.66      1
156.45     1
224.69     1
Name: count, Length: 1104, dtype: int64

In [62]:
### 19 --- unique entry 
retail["Country"].nunique()

38

In [64]:
### 20 --- most frequent country
retail["Country"].mode()[0]

'United Kingdom'

In [66]:
### 21 ---- index
retail.index

RangeIndex(start=0, stop=541909, step=1)

In [74]:
### 22 -- no. of columns in data set
retail.shape[1]

7

In [76]:
# 23 --Nominal, Ordinal, Binary and Numeric attributes
Nominal=['InvoiceNo', 'StockCode', 'Description', 'CustomerID', 'Country']
print('nominal columns is : ',Nominal)

Ordinal=['InvoiceDate']
print('ordinal columns is : ',Ordinal)

Numeric =['Quantity', 'UnitPrice']
print('numeric columns is : ',Numeric)

nominal columns is :  ['InvoiceNo', 'StockCode', 'Description', 'CustomerID', 'Country']
ordinal columns is :  ['InvoiceDate']
numeric columns is :  ['Quantity', 'UnitPrice']

In [78]:
#24-- symmetric or asymmetric
Symmetric=['Quantity','InvoiceDate','UnitPrice']
print("symmetric column is : ",Symmetric)

Asymmetric=['InvoiceNo','StockCode','Description','CustomerID','Country']
print("asymmetric column is : ",Asymmetric)

symmetric column is :  ['Quantity', 'InvoiceDate', 'UnitPrice']
asymmetric column is :  ['InvoiceNo', 'StockCode', 'Description', 'CustomerID', 'Country']

In [80]:
### 25 -- value count 
quantity = retail['Quantity'].value_counts()
quantity

Quantity
 1        148227
 2         81829
 12        61063
 6         40868
 4         38484
           ...
-472           1
-161           1
-1206          1
-272           1
-80995         1
Name: count, Length: 722, dtype: int64

In [82]:
# 26-- corelation
retail.corr(numeric_only = True)

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.001235    -0.00360
UnitPrice  -0.001235   1.000000    -0.00456
CustomerID -0.003600  -0.004560     1.00000

In [86]:
# 27 ---covisiant
retail.cov(numeric_only=True)

                Quantity    UnitPrice    CustomerID
Quantity    47559.391409   -26.058761 -1.534050e+03
UnitPrice     -26.058761  9362.469164 -5.415793e+02
CustomerID  -1534.050176  -541.579276  2.936426e+06